<html lang={{locale}}>

    <head>
        <meta charset="UTF-8" />
        <link href="/css/home.css" rel="stylesheet" />
        <!-- Leaflet -->
        <link rel="stylesheet" href="/css/leaflet.css" />
        <!-- Leaflet.MarkerCluster -->
        <link
            href="/Leaflet.markercluster-1.4.1/dist/MarkerCluster.css"
            rel="stylesheet"
        />
        <link
            href="/Leaflet.markercluster-1.4.1/dist/MarkerCluster.Default.css"
            rel="stylesheet"
        />

        <title>{{title}}</title>
        <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="/style.css">-->

    </head>

    <body>
        <section id="logo">
            <img src="/images/logo.png" />
        </section>
        <hr
            style="margin-top: 30px; margin-left: 400px; margin-right: 400px;"
        />
        <nav id="navbar">
            <ul>
                <li class="navitem"><a href="">{{mapMenuOption}}</a></li>
                <li class="navitem"><a href="">{{infoMenuOption}}</a></li>
                <li class="navitem"><a href="">{{contactMenuOption}}</a></li>
                <li class="navitem" id="bookmarks"><a
                    >{{bookmarksMenuOption}}</a></li>
                <li class="navitem"><a
                        href=""
                    >{{registerOrSignInMenuOption}}</a></li>
            </ul>
        </nav>
        <hr
            style="margin-bottom: 30px; margin-left: 400px; margin-right: 400px;"
        />

        <div class="container">
            {{{body}}}
        </div>
    </body>

</html>