

<div id="form">
    <form action="#">
        <div id="form-intro">
            {{introContact}}
        </div>
        <div id="form-details">
            <section id="names">
                <div>
                    <label for="first_name">{{name}}</label>
                </div>
                <div>
                    <input
                        id="first_name"
                        type="text"
                        name="first_name"
                        placeholder={{firstName}}
                    />
                    <input type="text" name="last_name" placeholder={{lastName}} />
                </div>
            </section>
            <section id="contact-info">
                <div>
                    <label for="telephone">{{contactInformation}}</label>
                </div>
                <div>
                    <input
                        type="tel"
                        id="telephone"
                        name="telephone"
                        placeholder={{telephone}}
                    />
                    <input
                        required
                        type="email"
                        name="email"
                        placeholder={{email}}
                    />
                </div>
            </section>
            <section id="personal-message">
                <div>
                    <label for="message">{{contactMessage}}</label>
                </div>
                <div>
                    <textarea required id="message" name="message"></textarea>
                </div>
            </section>
        </div>
        <input id="submit" type="submit" value="Αποστολή μηνύματος" />
    </form>
</div>