<div class="row-8">
    <div class="col-auto">
        <div id="map">
            <div class="floating-container">
                <div><input id="food" type="checkbox" />
                    <label for="food">{{foodFilterOption}}</label>
                </div>
                <div><input id="beach" type="checkbox" />
                    <label for="beach">{{beachFilterOption}}</label>
                </div>
                <div><input id="hotel" type="checkbox" />
                    <label for="hotel">{{StayingFilterOption}}</label>
                </div>
                <div><input id="fun" type="checkbox" />
                    <label for="fun">{{FunFilterOption}}</label>
                </div>
                <div><input id="sight" type="checkbox" />
                    <label for="sight">{{SightsFilterOption}}</label>
                </div>
                <div><input id="medical" type="checkbox" />
                    <label for="medical">{{AidFilterOption}}</label>
                </div>
            </div>
        </div>
    </div>
</div>

<script
    src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
    integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
    crossorigin=""
></script>
<script
    src="/Leaflet.markercluster-1.4.1/dist/leaflet.markercluster.js"
></script>
<script>
    const places =
    {{{places}}};
</script>
<script src="/js/map.js"></script>