<div class="row m-1">
    <div class="col p-0">
        <p class="intro-info fs-5">{{introInfo}}</p>
    </div>
</div>

<div class="row mb-4 ms-1 me-1 info-core">
    <div class="row m-0 p-0">
        <div class="col p-2">
            <p class="title fs-3 text-center m-0 mt-2">{{infoAncientTitle}}</p>
        </div>
    </div>
    <div class="row m-0 p-2 pt-3">
        <div class="col">
            <img class="info-image float-start mb-3" src="images/ancient.jpg" />
            <p class="info-text fs-5">{{infoAncient}}</p>
        </div>
    </div>
</div>

<div class="row mb-4 ms-1 me-1 info-core">
    <div class="row m-0 p-0">
        <div class="col p-2">
            <p class="title fs-3 text-center m-0 mt-2">{{infoMedievalTitle}}</p>
        </div>
    </div>
    <div class="row m-0 p-2 pt-3">
        <div class="col">
            <img class="info-image float-start mb-3" src="images/medieval.jpg" />
            <p class="info-text fs-5">{{infoMedieval}}</p>
        </div>
    </div>
</div>

<div class="row m-1 info-core">
    <div class="row m-0 p-0">
        <div class="col p-2">
            <p class="title fs-3 text-center m-0 mt-2">{{infoModernTitle}}</p>
        </div>
    </div>
    <div class="row m-0 p-2 pt-3">
        <div class="col">
            <img class="info-image float-start mb-3" src="images/now-1.jpg" />
            <p class="info-text fs-5">{{infoModern}}</p>
        </div>
    </div>
</div>

<!--<div class="row">
    <div class="col">
        <p class="title">{{infoMedievalTitle}}</p>
    </div>
</div>
<div class="row">
    <div class="col">
        <img class="info-image" src="images/medieval.jpg" />
    </div>
    <div class="col">
        <p class="info">{{infoMedieval}}</p>
    </div>
</div>

<div class="row">
    <div class="col">
        <p class="title">{{infoModernTitle}}</p>
    </div>
</div>
<div class="row">
    <div class="col">
        <img class="info-image" src="images/now-1.jpg" />
    </div>
    <div class="col">
        <p class="info">{{infoModern}}</p>
    </div>
</div>-->