
<div id="container">
    <div id="form-intro">
        {{introLogin}}
    </div>
    {{#if message}}
        <p>{{message}}</p>
    {{/if}}
    <form id="signInForm" action="home.html">
        <label for="username">{{username}}:</label>
        <input type="text" id="username" name="username" required />
        <label for="password">{{password}}:</label>
        <input type="password" id="password" name="password" required />
        <div id="loginOrRegister">
            <button type="submit">{{login}}</button>
            <label id="registerLabel">{{noAccountYet}}
                <a href="/register" id="toggleRegistration">{{register}}</a></label>
        </div>
    </form>
</div>