{{#if message}}
    <p>{{message}}</p>
{{/if}}

<div class="row-auto d-flex justify-content-center">
    <div class="row mb-4 ms-1 me-1 info-core">
        <div class="row m-0 p-0">
            <div class="col p-2">
                <p
                    class="title fs-3 text-center m-0 mt-2"
                >{{place.place_name}}</p>
            </div>
        </div>
        <div class="row m-0 p-2 pt-3">
            <div class="col">
                <p class="info-text">{{place.description}}</p>
                <p class="keywords-text mt-3 mb-1">{{place.keywords}}</p>
            </div>
        </div>
        <div class="row-auto m-0 p-2 pt-0">
            <div
                class="col p-4 d-flex justify-content-center align-items-center"
            >
                <div class="swiper">
                    <div class="swiper-wrapper">
                        {{#unless place.photo_paths}}
                            <div class="swiper-slide"><img
                                    src="/images/background-image-1.jpg"
                                    alt="{{place.name}}"
                                    class="popup-image float-start mb-3"
                                /></div>
                        {{else}}
                            {{#each place.photo_paths}}
                                <div class="swiper-slide"><img
                                        class="popup-image float-start mb-3"
                                        src="{{this}}"
                                        alt="{{place.name}}"
                                        style="width: 100%"
                                    /></div>
                            {{/each}}
                        {{/unless}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-0 p-2 pt-3 pb-0">
            <div class="col">
                <p class="add-text"><a href="/bookmarks/add/{{place.placeId}}">
                        <i class="fa fa-bookmark"></i>
                        <span class="span-text ms-3">{{AddToBookmarks}}</span>
                    </a></p>
            </div>
        </div>
        <div class="row m-0 mb-3 p-2 pt-0 pb-0">
            <div class="col">
                <p class="add-text"><a href="/map">
                        <i class="fa fa-backward"></i>
                        <span class="span-text ms-3">{{backToMap}}</span>
                    </a></p>
            </div>
        </div>
    </div>
</div>

<script
    src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
></script>
<script>
    const swiper = new Swiper(".swiper", { direction: "vertical", loop: true,
    autoplay: { delay: 3000, }, pagination: { el: ".swiper-pagination", }, });
</script>