div class="row mb-4 ms-1 me-1 info-core">
    <div class="row m-0 p-0">
        <div class="col p-2">
            <p class="title fs-3 text-center m-0 mt-2">{{place.name}}</p>
        </div>
    </div>
    <div class="row m-0 p-2 pt-3">
        <div class="col">
            <div class="slick-carousel">
                {{#each place.images}}
                <div><img src="{{this}}" alt="{{../place.name}}" class="info-image float-start mb-3 place-image"></div>
                {{/each}}
            </div>
            <p class="info-text fs-5">{{place.description}}</p>
            <p class="info-text fs-5">{{place.keywords}}</p>
            <a href="/home">{{backToMap}}</a>
        </div>
    </div>
</div>