<h3>{{place.name}} - στην Σαντοκρήτη</h3>
<p>{{place.name}}</p>
<p>{{place.description}}</p>
<p>Keywords: {{place.keywords}}</p>
<img src="{{place.markerImage}}" alt="{{place.name}}">
<a href="/map">Back to map</a>