{{#if message}}
<p>{{message}}</p>
{{/if}}
<script src="https://code.jquery.com/jquery-1.7.min.js"></script>
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css" />

<div class="row-auto d-flex justify-content-center">
    <div class="row mb-4 ms-1 me-1 info-core">
        <div class="row m-0 p-0">
            <div class="col p-2">
                <p class="title fs-3 text-center m-0 mt-2">{{place.place_name}}</p>
            </div>
        </div>
        <div class="row m-0 p-2 pt-3">
            <div class="col">
                <p class="info-text">{{place.description}}</p>
                <p class="keywords-text mt-3 mb-1">{{place.keywords}}</p>
            </div>
        </div>
        <div class="row-auto m-0 p-2 pt-0">
            <div class="col p-4 d-flex justify-content-center align-items-center">
                <div class="swiper">
                    <div class="swiper-wrapper">
                        {{#each place.photo_paths}}
                        <div><img src="{{this}}" alt="{{../place.name}}" class="info-image float-start mb-3"></div>
                        <div class="swiper-slide"><img class="popup-image" src="${image}" alt="${name}"
                                style="width: 100%">
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-0 p-2 pt-3 pb-0">
            <div class="col">
                <p class="add-text"><a href="/bookmarks/add/{{place.placeId}}">
                        <i class="fa fa-bookmark"></i>
                        <span class="span-text ms-3">{{AddToBookmarks}}</span>
                    </a></p>
            </div>
        </div>
        <div class="row m-0 mb-3 p-2 pt-0 pb-0">
            <div class="col">
                <p class="add-text"><a href="/map">
                        <i class="fa fa-backward"></i>
                        <span class="span-text ms-3">{{backToMap}}</span>
                    </a></p>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<script>
    var $jq = jQuery.noConflict();
    $jq(document).ready(function () {
        $jq('.slick-carousel').slick({
            autoplay: true,
            dots: true,
        });
    });
</script>